languageBox
    display: flex
    align-items: center
    height: 10vw
    justify-content: space-around
    margin-bottom: 0

div
    // transition: `height $durationms ease-in-out`
    width: 8vw
    height: 8vw

divActive
    // transition `height $durationms ease-in-out`
    width: 8vw
    height: 10vw

icon
    // transition `height $durationms ease-in-out`
    width: 5vw
    height: 5vw
    margin: 2vw

iconActive
    // transition `height $durationms ease-in-out`
    width: 6vw
    height: 6vw
    color: $red
    margin: 2vw, 0, 2vw, 1.5vw

renderContainer
    textAlign: center
