//I nead to set this up to display none at mobile resolution.

nav
    postition: sticky
    display: flex
    width: 100vw
    align-items: center
    justify-content: center
    height: 10vh
    h1
        font-family: 'Bebas Neue', cursive
        font-size: 3vw
        background-color: white
        margin-right: 3vh
button
        flex: .3
        width: 15vw
        font-size: 1.5vw
        text-align: center
        border: none
        background-color: rgba(0,0,0,0)
        &:hover
            // border-left: .3vw solid $red
            // border-right: .3vw solid $red
            font-size: 2vw
            transition: font-size 300ms ease-in-out
