preview
    width: 70vw
    height: 40vh
    margin: 2vw
    padding-left: 2vw
    text-align: left
    border: .2vw solid black

previewNone
    display: none
    margin: 2vw

grid
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 100%
