nameContaniner
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

nameText
    font-family: Bebas Neue
    font-size: 10vw
    background-color: white

    first
        margin-right: 2vw

    last
        margin: 0
