@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

:root {
    --main-red: rgb(179, 32, 21);
}

.container: {
    /* display: flex; */
    /* justifyContent: flex-start; */
    /* flexWrap: wrap */
    postition: -webkit-sticky;
    postition: sticky;
    top: 0;
}

.redLine: {
    display: block;
    postition: -webkit-sticky;
    postition: sticky;
    top: 0;
    background-color: var(--main-red);
    height: 10vh;
    width: 100vw;
}

.scrollBox: {
    display: flex;
    flex: 1;
    height: 100vh;
}

.nav: {
    display: flex;
    postition: -webkit-sticky;
    postition: sticky;
    flex-direction: column;
    width: 20vw;
    padding-top: 4vh;
}

.nav > h1: {
    font-family: Bebas Neue;
    font-size: 4vw;
}

.first: {
    margin: 1.5vh 0 0 2vw
}

.last: {
    margin: .2vh 0 0 5vw
}

.button: {
    flex: .05;
    font-size: 1.5vw;
    margin: 1vh 2vw 0 2vw;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0)
}

.buttonActive: {
    flex: .05;
    font-size: 1.5vw;
    margin: 1vh 2vw 0 2vw;
    text-align: left;
    border: none;
    border-left: .2vw solid red;
    padding-left: 1.5vw;
    background-color: rgba(0, 0, 0, 0);
}
